@charset "utf-8";


html:not(:target){
font-size:16px;
}

html, body {
  -webkit-text-size-adjust: none;
}


/* reset and setting
-----------------------------------------------*/
*{
margin:0;
padding:0;
}

body{
font-size:16px;
line-height:1.6;
background:#fff;
color:#000;
font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

h1,h2,h3,h4,h5,h6{
font-size:100%;
font-weight:normal;
}

p{
margin-bottom:16px;
}

table{
margin-bottom:16px;
border-spacing:0;
border-collapse:collapse;
table-layout:fixed;
}

th,
td{
border-collapse:collapse;
}

ul{
margin-bottom:16px;
}
ul li{
list-style:none;
line-height:1.6;
}

ol{
margin:0 0 16px 1.5em;
/margin-left:1.8em;
list-style:decimal outside;
}

ul ul,
ul ol,
ol ul,
ol ol,
table ul,
table ol{
margin-bottom:0;
}

dl{
margin-bottom:16px;
}

strong,
em{
font-weight:bold;
font-style:normal;
}

img{
border:0;
vertical-align:bottom;
}

hr{
display:none;
}

input{
vertical-align:middle;
}

input[type="checkbox"] {
margin-right: 0.5em;
}

label {
white-space:nowrap;
display:inline-block;
/display:inline;
/zoom:1;
margin-right:0.8em;
}

option{
padding:1px 5px;
}

a{
color:#000;
text-decoration:underline;
}

a:hover,
a:focus{
color:#808080;
text-decoration:underline;
}

.marginBOff {
  margin-bottom:0 !important;
}


/* ========== clearfix ========== */
.clearfix{
zoom:1;
}

.clearfix:after{
height:0;
display:block;
clear:both;
visibility:hidden;
content:".";
line-height:0; 
}